private/*
vim/*
!vim/pluginrc.vim
!vim/config.vim
!vim/vundle
!vim/UltiSnips
vim/UltiSnips/*_local.snippets
nvim/dein
nvim/.netrwhist
Session.vim
*.pyo
ranger/plugins/__init__.py
ranger/bookmarks
ranger/history
ranger/tagged
